@model RealDeal.Models.ItemViewModel;

@{
    ViewData["Title"] = "MyItemsHistory";
}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="ItemsIRegisteredToBid">Items I registered to bid </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="MyItemsForSale">My items for sale</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Items" asp-action="MyItemsHistory">My items history</a>
        </li>
    </ul>
<table class="table">
    <thead>
        <tr>
            <th>
                ItemID
            </th>
            <th>
                Name
            </th>
            <th>
                Start price
            </th>
            <th>
                Date
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="">Edit</a> |
                    <a asp-action="Details" asp-route-id="">Details</a> |
                    <a asp-action="Delete" asp-route-id="">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>